dist
docs
src
node_modules
.idea
gulpfile.js

.bower-cache
.bower-registry
.bower-tmp
.bowerrc
.sass-cache
.editorconfig
.gitignore
.jscsrc
.jshintrc
.npmignore

nodemon.json
composer.json
bower.json
